In [1]:
from dcat_ap_hub import Dataset

In [2]:
url = "https://ki-daten.hlrs.de/hub/repo/datasets/b48e396f-4fa9-4635-9c71-a79e1290057b.jsonld"
ds = Dataset.from_url(url)
print(ds)

ðŸ“Š Dataset('Geburtenziffern', 2 distros)

In [3]:
path = "/Users/maxburzer/dcat-ap-hub/notebooks/data/Geburtenziffern"
ds = Dataset.from_directory(path)
print(ds)

ðŸ“Š Dataset('Geburtenziffern', 2 distros) [Data: Geburtenziffern]

In [4]:
path = "/Users/maxburzer/dcat-ap-hub/dcat-metadata.jsonld"
ds = Dataset.from_file(path)
print(ds)

FileNotFoundError: File not found: /Users/maxburzer/dcat-ap-hub/dcat-metadata.jsonld

In [4]:
files = ds.download(target_dir="./data", verbose=True)
print(files)

Using existing local data at '/Users/maxburzer/dcat-ap-hub/notebooks/data/Geburtenziffern'
<FileCollection: 3 files in 'Geburtenziffern'>

In [5]:
list(files)

[<File: Zusammengefasste Geburtenziffern in Stuttgart seit 1981.xlsx (ðŸ’¤ Lazy)>,
 <File: dcat-metadata.jsonld (ðŸ’¤ Lazy)>,
 <File: Zusammengefasste Geburtenziffern in Stuttgart seit 1981.csv (ðŸ’¤ Lazy)>]

In [6]:
files["Zusammengefasste Geburtenziffern in Stuttgart seit 1981.csv"].data

    Jahr    insgesamt      deutsch  nicht deutsch
0   1981  1162,813497  1003,060511    1942,901769
1   1982  1221,468396  1051,861363    2066,775504
2   1983  1184,426548  1047,754444    1958,399309
3   1984  1098,858723  997,4934923    1703,978626
4   1985  1094,994208  1001,538374    1628,857922
5   1986  1190,432012  1089,506586    1773,585088
6   1987  1304,151509  1170,880508    2005,670411
7   1988  1270,703244  1130,839228      1913,6104
8   1989  1346,489389  1175,916555    2086,539266
9   1990  1331,779167  1163,765894     1991,05782
10  1991  1300,021706  1098,745986    1978,670438
11  1992  1298,864408  1069,872111    1867,799482
12  1993  1253,788567  1048,422409    1705,519277
13  1994  1244,455074  1030,160618    1664,119081
14  1995  1244,405645  1027,086724    1685,548094
15  1996  1278,205991  1051,111239    1694,821877
16  1997  1354,569153  1107,205591    1796,285522
17  1998  1290,910497  1073,316855    1699,321881
18  1999  1284,051106  1073,068952    1667,985728
19  2000  1272,319794  1084,225659    1620,425678
20  2001  1267,431427   1087,22916    1611,381957
21  2002  1258,080226  1078,030504    1603,369085
22  2003  1245,097203  1106,798051    1503,972027
23  2004  1286,878851  1164,038987    1540,161777
24  2005   1298,26754   1177,28927    1568,364754
25  2006   1285,20124  1181,266256    1522,771626
26  2007  1281,062167  1203,111295    1472,679188
27  2008   1291,11343  1228,290332    1461,347277
28  2009  1276,825501  1231,230953    1419,821762
29  2010  1345,807665  1275,769762    1559,362441
30  2011   1268,06821  1229,243695    1413,998142
31  2012  1227,033695   1169,68768    1409,091688
32  2013  1265,106455   1247,98324    1356,782884
33  2014  1345,902034  1337,344968    1416,677577
34  2015  1329,419996  1295,070687    1445,286934
35  2016  1401,411499  1344,509566    1556,377172
36  2017  1380,281055  1305,503184     1588,03038
37  2018  1330,201806  1299,276138    1437,340846
38  2019       1333,4       1279,7         1489,3
39  2020       1269,4       1242,4         1383,9
40  2021       1405,4         1374         1544,7
41  2022       1223,1       1183,9         1367,7
42  2023       1097,7       1050,7         1248,7
43  2024  1118,730781  1061,932226    1296,156528